<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find robot_description)/urdf/base/base.gazebo.xacro"/>
  
  <xacro:macro name="base_v0" params="parent *joint_origin">
	<joint name="footprint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
	  <visual>
		<geometry>
		  <mesh filename="package://robot_description/meshes/DAE/base/base_link.dae"/>
		</geometry>
	  </visual>
	  <collision>
		<geometry>
		  <mesh filename="package://robot_description/meshes/STL/base/base_link.stl"/>
		</geometry>
	  </collision>
	  <inertial>
		<origin xyz="0 0 0"/>
		<mass value="10"/>
		<inertia ixx="0.237" ixy="0" ixz="0" iyy="0.207" iyz="-0.035" izz="0.351" />
	  </inertial>
	</link>
  </xacro:macro>
  
</robot>
